@media only screen and (max-width: 1023px) {
    #story .two-col-cont {
        display: flex;
        flex-direction: column;
    }
    #story .two-col {
        max-width: 80%;
        margin: 0 auto;
    }
    #story .text-box {
        max-width: 100%;
        margin-top: 40px;
    }
    #details .two-col-cont {
        display: flex;
        flex-direction: column;
    }
    #details .two-col {
        max-width: 100%;
        padding: 0;
    }
    #story .containers .two-col-cont:nth-child(6) {
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 56px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 16px;
    }
    .spacer {
        height: 40px;
    }
    #story span {
        font-size: 16px;
    }
    #rsvp-popup-main .spacer {
        height: 80px;
    }
    #rsvp-popup-main label {
        font-size: 16px;
    }
    #rsvp-popup-main input {
        padding: 0 8px;
    }
    .header-list {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
    #hero .containers {
        gap: 8px;
    }
    #footer .two-col-cont {
        display: flex;
        flex-direction: column;
    }
    #footer .two-col {
        max-width: 100%;
    }
    #footer .text-box {
        margin: 0 auto;
    }
    .social-icon-cont {
        max-width: 80%;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 80px;
    }
}