body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}

body * {
    margin: 0;
    padding: 0;
	transition: all 1s ease;
}

.animate {
	animation: fadeIn 2s ease forwards;
  }
  
  @keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

#main {
	width: 100%;
	height: 100vh;
}

.spacer {
	height: 80px;
	width: 100%;
}

.spacer-2 {
	height: 40px;
	width: 100%;
}

.color-primary {
	color: #452B0E;
}

.color-secondary {
	color: #153648;
}

.color-white {
	color: #fff;
}

.center-items {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-align-center {
	text-align: center;
}

.font-weight-700 {
	font-weight: 700;
}

.colm-reverse {
	flex-direction: column-reverse;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	color: #452B0E;
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	font-weight: 700;
}

h2 {
	font-family: 'PT Serif', serif;
	font-size: 40px;
	font-weight: 700;
}

h3 {
	font-family: 'PT Serif', serif;
	font-size: 32px;
}

h4 {
	font-family: 'PT Serif', serif;
	font-size: 24px;
}

h5 {
	font-family: 'PT Serif', serif;
	font-size: 16px;
}

p {
	font-family: 'PT Serif', serif;
	font-size: 16px;
}

li {
    color: #fff;
	font-family: 'PT Serif', serif;
    font-size: 16px;
    list-style: none;
}

li:hover {
	cursor: pointer;
}

i:hover {
	cursor: pointer;
}

label {
	font-family: 'PT Serif', serif;
	font-size: 24px;
}

.fa-xmark:hover {
	cursor: pointer;
}

#story span {
	font-family: 'Dancing Script', cursive;
	font-size: 24px;
	color: #fff;
}

.fa-brands:hover {
	cursor: pointer;
	color: #0a3142 !important;
}

.hamburger-menu {
	padding: 0 2em;
	display: none;
}

#header .fa-bars {
	color: #fff;
	font-size: 24px;
}

.rsvp-btn {
	border: none;
	height: 40px;
	max-width: 160px;
	margin: 0 auto;
	width: 100%;
	border-radius: 4px;
	transition: all 1s ease;
	background-color: #0a3142;
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
}

.rsvp-btn span {
	font-family: 'PT Serif', serif;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

.rsvp-btn:hover {
	cursor: pointer;
	background-color: #fff;
}

.rsvp-btn:hover span {
    color: #452B0E;
}

.submit-btn {
	border: none;
	height: 40px;
	max-width: 160px;
	margin: 0 auto;
	width: 100%;
	border-radius: 4px;
	transition: all 1s ease;
	background-color: #fff;
	box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.submit-btn span {
	font-family: 'PT Serif', serif;
	font-size: 16px;
	font-weight: 700;
	color: #452b0e;
}

.submit-btn:hover {
	cursor: pointer;
	background-color: #452b0e;
}

.submit-btn:hover span {
    color: #fff;
}

.section-tiles {
	text-align: center;
}

.two-col-cont {
	display: flex;
}

.two-col {
	max-width: 50%;
	width: 100%;
}

.two-col img {
	max-width: 100%;
	border-radius: 15px;
	box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.5);
}

.containers {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

#header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	min-height: 100px;
}

#header .containers {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header .logo {
    max-width: 100px;
}

#header .logo:hover {
	cursor: pointer;
}

#header .header-list {
	min-width: 50%;
}

#header ul {
	display: flex;
	justify-content: right;
	gap: 24px;
}

#header a {
	font-family: 'PT Serif', serif;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

#hero {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	background-image: url('images/hero-bg-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

#hero .containers {
	display: flex;
	flex-direction: column;
	gap: 40px;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-top: -80px;
}

#hero h1, #hero h4 {
	text-align: center;
}

#hero .rsvp-btn {
	position: absolute;
	bottom: -48%;
}

#story {
	background-color: #0a3142;
}

#story .text-box {
	max-width: 80%;
}

#story .two-col {
	display: flex;
	justify-content: center;
	align-items: center;
}

#details {
	max-height: 1282px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('images/pexels-evie-shaffer-2395249.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#details .overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

#details .two-col {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	padding: 0 24px;
}

#rsvp-section {
	background-image: url('images/pexels-min-an-1004014.jpg');
	background-position: center center;
}

#rsvp-section .containers {
	display: flex;
	flex-direction: column;
}

#rsvp-section .text-box {
	text-align: center;
}

#footer {
	background-color: #452b0e;
}

#footer .two-col {
	flex-direction: column;
}

#footer .text-box {
	max-width: 75%;
	margin: 0 0 0 auto;
}

#footer .fa-brands {
	font-size: 24px;
	color: #fff;
}

#footer .social-icon-cont {
	display: flex;
	gap: 40px;
}

/* ------------RSVP pop-up-------------- */

#rsvp-popup-main {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transform: translateY(-50px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	pointer-events: none;
	z-index: 99;
}

.rsvp-popup {
	max-width: 800px;
	width: 100%;
	border-radius: 30px;
	margin: 0 40px;
	background-color: #0a3142;
	padding: 0 8px;
	box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.8);
	position: relative;
}

#rsvp-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#rsvp-form input:focus {
	outline: none;
	box-shadow: none;
}

#rsvp-popup-main .two-col-cont {
	display: flex;
	align-items: center;
}

#rsvp-popup-main label {
	max-width: 75%;
	width: 100%;
	display: flex;
	margin: 0 8px 0 auto;
}

#rsvp-popup-main input {
	max-width: 65%;
	width: 100%;
	display: flex;
	margin: 0 auto 0 8px;
	padding: 0 16px;
	border-radius: 5px;
	border: none;
	height: 40px;
	font-family: 'PT Serif', serif;
	font-size: 16px;
}

#rsvp-popup-main.show {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

#main.blur {
	filter: blur(8px);
	transition: filter 0.3s ease-in-out;
	pointer-events: none;
}

#rsvp-popup-main .fa-xmark {
	font-size: 32px;
	color: #fff;
	position: absolute;
	top: 32px;
	right: 32px;
}

/* ------------menu pop-up-------------- */

#menu-popup {
	display: flex;
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100vh;
	top: 0;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	opacity: 0;
	pointer-events: none;
}

#menu-popup.show {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

#main.blur-2 {
	filter: blur(80px);
	transition: filter 1s ease-in-out;
	pointer-events: none;
	position: fixed;
}

#menu-popup .containers {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menu-popup-list {
	max-width: 100%;
	width: 100%;
}

#menu-popup .fa-xmark {
	color: #fff;
	font-size: 24px;
	position: absolute;
	top: 40px;
	right: 32px;
}

#menu-popup ul {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	align-items: center;
}

#menu-popup li {
	max-width: 100%;
	width: 100%;
	text-align: center;
	border-radius: 15px;
	padding: 16px 0;
}

#menu-popup li a {
	font-family: 'PT Serif', serif;
	font-size: 32px;
	font-weight: 700;
  	color: #452B0E;
}

#menu-popup li:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

/* confirmation popup */

#confirm {
	display: flex;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100vh;
	top: 0;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.confirm-main {
	position: relative;
	background-color: #0a3142;
	max-width: 560px;
	width: 100%;
	padding: 40px;
	margin: 40px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
}

#confirm a {
	max-height: 80px;
	max-width: 240px;
	margin: 0 auto;
	width: 100%;
}

#confirm #redirect-btn {
	border: none;
	border-radius: 4px;
	transition: all 1s ease;
	background-color: #fff;
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
	padding: 8px;
	width: 100%;
}
#confirm span {
	font-family: "PT Serif", serif;
	font-size: 24px;
	font-weight: 700;
	color: #0a3142;
}
#confirm #redirect-btn:hover {
	cursor: pointer;
	background-color: #452b0e;
}

#confirm #redirect-btn:hover span {
	color: #fff;
}