body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}

body * {
    margin: 0;
    padding: 0;
}

h1 {
	color: #452B0E;
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
}

h4 {
    color: #452B0E;
	font-family: 'PT Serif', serif;
	font-size: 24px;
}

li {
    color: #fff;
	font-family: 'PT Serif', serif;
    font-size: 16px;
    list-style: none;
}

#hero h1, #hero h4 {
	text-align: center;
}

.containers {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

#header {
	position: absolute;
	top: 0;
	width: 100%;
}

#header .containers {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header .logo {
    max-width: 100px;
}

#header .header-list {
	min-width: 50%;
}

#header ul {
	display: flex;
	justify-content: right;
	gap: 24px;
}

#hero {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	background-image: url('images/hero-bg-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#hero .containers {
	display: flex;
	flex-direction: column;
	gap: 40px;
}